@font-face {
    font-family: samsung;
    src: url(SamsungSans-Regular.ttf);
}

body{
    font-family: samsung;
    background: rgb(210, 242, 243);
    color: black;
}

.cinta_titulo{
    background: rgb(99, 199, 229);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 20px;
    border: solid black 5px;
}

.caja{
    background: rgb(99, 199, 229);
    margin: 0px 100px 100px 100px;
    border-radius: 30px;
    border: solid black 5px;
    
}

.texto{    
    padding: 40px 70px;
}

h1{
    padding: 15px;
    font-size: 50px;
    letter-spacing: 2px;
    
}

p{
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 2px;
}

.texto{    
    padding: 40px 70px;
}




.seccion1 {
    display: flex;
}

.texto1 {
    margin-right: 30px;
}

.imagen1 {
    height: 350px;
    border-radius: 15px;
}




.parrafo2{
    display: flex;
    margin-top: 20px;
}

.texto2{
    margin-right: 30px;
}

.imagen2 {
    height: 200px;
    border-radius: 15px;
    border: solid black 1px;
    margin-left: 30px;
    float: right;
    
}









